.frc-table-body {
  &::-webkit-scrollbar
  {
    width: 7px;
    border: 1px solid white;
  }
  &::-webkit-scrollbar-thumb {
    background: #adcbef;
    border-radius: 4px;
    margin: 0px 2px;
    border: 1px solid #f2f2f2;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #a2c1e6;
  }
  &::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 4px;
  }
  &::-webkit-scrollbar
  {
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background: #adcbef;
    border-radius: 4px;
    margin: 0px 2px;
    border: 1px solid white;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #a2c1e6;
  }
  &::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 4px;
  }
}
